{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock css_files %}
<section id="main">
    <form method="POST" action="{% url 'converter_url' %}">
        {% csrf_token %}
        <label for="video_url">YouTube URL</label>
        <input type="text" id="video_url" name="video_url"/>
        <select name="language" id="language">
            <option value="pt-BR">Portuguese Brazil</option>
            {% for lang in lang.items %}
                <option value="{{lang.1}}">{{lang.0}}</option>
            {% endfor %} 
        </select>
        <button type="submit">Convert</button>
    </form>
</section>
{% endblock content %}
