input {
    border: 2px solid #2e2e2e;
    border-radius: 10px;
    height: 2.5rem;
    padding-left: 0.5rem;
    width: 40%;
    font-family: 'Courier New', Courier;
    font-size: 18px;
  }

  label {
    font-weight: bold;
  }
  select {
    border: 2px solid #2e2e2e;
    border-radius: 10px;
    height: 2.5rem;
    padding-left: 0.5rem;
    width: 15%;
    font-family: 'Courier New', Courier;
    font-size: 18px;
  }

  #main {
    margin: 7rem auto;
    width: 90%;
    max-width: 60rem;
  }

  button {
    border: 2px solid #2e2e2e;
    border-radius: 10px;
    height: 2.5rem;
    font-family: 'Courier New', Courier;
    font-size: 18px;
    font-weight: bold;
  }

  body {
    background-color: #e7e7e7;
  }
  
  #main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #summary {
    margin: 8rem auto 3rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: #000000;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 15rem;
  }
  
  #summary h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 0.25rem;
  }
  
  article {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: right;
    color: white;
  }
  
  article img {
    width: 8rem;
    height: 8rem;
    border-radius: 12px;
    transform: rotateZ(5deg);
    border: 2px solid white;
    margin-bottom: 1rem;
  }

  main {
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  .tag {
    background-color: rgb(168, 62, 0);
    color: #f1f1f1;
    padding: 0.5rem 1rem;
    border-radius: 7px;
  }
  
  #all-posts {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    width: 60rem;
    margin: -6rem auto 2rem auto;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
  }
  
  #all-posts h2 {
    text-align: center;
  }
  
  #all-posts ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  #all-posts li {
    flex: 1;
  }