{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}"
    {% block css_files %}{% endblock css_files %}
</head>
<body>
    <section id="main-nav">
        <h1><a href="{% url 'index' %}">Converter</a></h1>
        <nav>
            <a href="{% url 'all_posts_url' %}" >All Posts</a>
            <a href="/admin" target="_blank">Admin</a>
        </nav>
    </section>
    {% block content %}{% endblock content %}
</body>
</html>